.idea

# Miscellaneous
primeiro_projeto/*.class
primeiro_projeto/*.lock
primeiro_projeto/*.log
primeiro_projeto/*.pyc
primeiro_projeto/*.swp
primeiro_projeto/.DS_Store
primeiro_projeto/.atom/
primeiro_projeto/.buildlog/
primeiro_projeto/.history
primeiro_projeto/.svn/

# IntelliJ related
primeiro_projeto/*.iml
primeiro_projeto/*.ipr
primeiro_projeto/*.iws
primeiro_projeto/.idea/

# Visual Studio Code related
primeiro_projeto/.vscode/

# Flutter/Dart/Pub related
primeiro_projeto/**/doc/api/
primeiro_projeto/.dart_tool/
primeiro_projeto/.flutter-plugins
primeiro_projeto/.packages
primeiro_projeto/.pub-cache/
primeiro_projeto/.pub/
primeiro_projeto/build/

# Android related
primeiro_projeto/**/android/**/gradle-wrapper.jar
primeiro_projeto/**/android/.gradle
primeiro_projeto/**/android/captures/
primeiro_projeto/**/android/gradlew
primeiro_projeto/**/android/gradlew.bat
primeiro_projeto/**/android/local.properties
primeiro_projeto/**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
primeiro_projeto/**/ios/**/*.mode1v3
primeiro_projeto/**/ios/**/*.mode2v3
primeiro_projeto/**/ios/**/*.moved-aside
primeiro_projeto/**/ios/**/*.pbxuser
primeiro_projeto/**/ios/**/*.perspectivev3
primeiro_projeto/**/ios/**/*sync/
primeiro_projeto/**/ios/**/.sconsign.dblite
primeiro_projeto/**/ios/**/.tags*
primeiro_projeto/**/ios/**/.vagrant/
primeiro_projeto/**/ios/**/DerivedData/
primeiro_projeto/**/ios/**/Icon?
primeiro_projeto/**/ios/**/Pods/
primeiro_projeto/**/ios/**/.symlinks/
primeiro_projeto/**/ios/**/profile
primeiro_projeto/**/ios/**/xcuserdata
primeiro_projeto/**/ios/.generated/
primeiro_projeto/**/ios/Flutter/App.framework
primeiro_projeto/**/ios/Flutter/Flutter.framework
primeiro_projeto/**/ios/Flutter/Generated.xcconfig
primeiro_projeto/**/ios/Flutter/app.flx
primeiro_projeto/**/ios/Flutter/app.zip
primeiro_projeto/**/ios/Flutter/flutter_assets/
primeiro_projeto/**/ios/ServiceDefinitions.json
primeiro_projeto/**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
primeiro_projeto/!**/ios/**/default.mode1v3
primeiro_projeto/!**/ios/**/default.mode2v3
primeiro_projeto/!**/ios/**/default.pbxuser
primeiro_projeto/!**/ios/**/default.perspectivev3
primeiro_projeto/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

#-----------------------------------------------------------------------------------------------------------------------

# Miscellaneous
imc/*.class
imc/*.lock
imc/*.log
imc/*.pyc
imc/*.swp
imc/.DS_Store
imc/.atom/
imc/.buildlog/
imc/.history
imc/.svn/

# IntelliJ related
imc/*.iml
imc/*.ipr
imc/*.iws
imc/.idea/

# Visual Studio Code related
imc/.vscode/

# Flutter/Dart/Pub related
imc/**/doc/api/
imc/.dart_tool/
imc/.flutter-plugins
imc/.packages
imc/.pub-cache/
imc/.pub/
imc/build/

# Android related
imc/**/android/**/gradle-wrapper.jar
imc/**/android/.gradle
imc/**/android/captures/
imc/**/android/gradlew
imc/**/android/gradlew.bat
imc/**/android/local.properties
imc/**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
imc/**/ios/**/*.mode1v3
imc/**/ios/**/*.mode2v3
imc/**/ios/**/*.moved-aside
imc/**/ios/**/*.pbxuser
imc/**/ios/**/*.perspectivev3
imc/**/ios/**/*sync/
imc/**/ios/**/.sconsign.dblite
imc/**/ios/**/.tags*
imc/**/ios/**/.vagrant/
imc/**/ios/**/DerivedData/
imc/**/ios/**/Icon?
imc/**/ios/**/Pods/
imc/**/ios/**/.symlinks/
imc/**/ios/**/profile
imc/**/ios/**/xcuserdata
imc/**/ios/.generated/
imc/**/ios/Flutter/App.framework
imc/**/ios/Flutter/Flutter.framework
imc/**/ios/Flutter/Generated.xcconfig
imc/**/ios/Flutter/app.flx
imc/**/ios/Flutter/app.zip
imc/**/ios/Flutter/flutter_assets/
imc/**/ios/ServiceDefinitions.json
imc/**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
imc/!**/ios/**/default.mode1v3
imc/!**/ios/**/default.mode2v3
imc/!**/ios/**/default.pbxuser
imc/!**/ios/**/default.perspectivev3
imc/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

#-----------------------------------------------------------------------------------------------------------------------

# Miscellaneous
conversor/*.class
conversor/*.lock
conversor/*.log
conversor/*.pyc
conversor/*.swp
conversor/.DS_Store
conversor/.atom/
conversor/.buildlog/
conversor/.history
conversor/.svn/

# IntelliJ related
conversor/*.iml
conversor/*.ipr
conversor/*.iws
conversor/.idea/

# Visual Studio Code related
conversor/.vscode/

# Flutter/Dart/Pub related
conversor/**/doc/api/
conversor/.dart_tool/
conversor/.flutter-plugins
conversor/.packages
conversor/.pub-cache/
conversor/.pub/
conversor/build/

# Android related
conversor/**/android/**/gradle-wrapper.jar
conversor/**/android/.gradle
conversor/**/android/captures/
conversor/**/android/gradlew
conversor/**/android/gradlew.bat
conversor/**/android/local.properties
conversor/**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
conversor/**/ios/**/*.mode1v3
conversor/**/ios/**/*.mode2v3
conversor/**/ios/**/*.moved-aside
conversor/**/ios/**/*.pbxuser
conversor/**/ios/**/*.perspectivev3
conversor/**/ios/**/*sync/
conversor/**/ios/**/.sconsign.dblite
conversor/**/ios/**/.tags*
conversor/**/ios/**/.vagrant/
conversor/**/ios/**/DerivedData/
conversor/**/ios/**/Icon?
conversor/**/ios/**/Pods/
conversor/**/ios/**/.symlinks/
conversor/**/ios/**/profile
conversor/**/ios/**/xcuserdata
conversor/**/ios/.generated/
conversor/**/ios/Flutter/App.framework
conversor/**/ios/Flutter/Flutter.framework
conversor/**/ios/Flutter/Generated.xcconfig
conversor/**/ios/Flutter/app.flx
conversor/**/ios/Flutter/app.zip
conversor/**/ios/Flutter/flutter_assets/
conversor/**/ios/ServiceDefinitions.json
conversor/**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
conversor/!**/ios/**/default.mode1v3
conversor/!**/ios/**/default.mode2v3
conversor/!**/ios/**/default.pbxuser
conversor/!**/ios/**/default.perspectivev3
conversor/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
